
.vis-container {
  width: 100%;
  
  
}
.page {
  width: 850px;
  background-color: white;
  margin: auto;
  padding: 50px;
  padding-top: 35px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    width: 60%;
    
    
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    
    padding: 10px;
}
.center{
  text-align: center;
  font-weight:400;
   font-size: large;
   
  
}
.titlee{

   background-color: rgb(206, 206, 206);
}
.title{
  text-align: center;
  font-weight:bold;
   font-size: x-large;
   background-color: rgb(206, 206, 206);
}

mark.monaco {
    background-color: rgb(113, 221, 84);
    color: rgb(255, 255, 255);
  }
  mark.moldova {
    background-color: rgb(42, 153, 193);
    color: rgb(255, 255, 255);
  }
  mark.china {
    background-color: rgb(115, 0, 255);
    color: rgb(255, 252, 252);
  }
  mark.vatican {
    background-color: rgb(255, 225, 0);
    color: rgb(255, 252, 252);
  }
  mark.IP{
    background-color: rgb(162, 101, 238);
    color: rgb(255, 252, 252);
  }